<section class="section">
  <div [ngClass]="{
  'bad_password_result_or_no_value_entered': noPasswordValue,
  'weak_small_or_wrong_password': levelPasswordWeak || smallPasswordLength || wrongDataEntered,
  'password_is_medium': levelPasswordMedium,
  'password_is_strong' : levelPasswordStrong
  }"></div>
  <div [ngClass]="{
  'bad_password_result_or_no_value_entered': noPasswordValue || levelPasswordWeak,
  'weak_small_or_wrong_password': smallPasswordLength || wrongDataEntered,
  'password_is_medium': levelPasswordMedium,
  'password_is_strong' : levelPasswordStrong
  }"></div>
  <div [ngClass]="{
  'bad_password_result_or_no_value_entered': noPasswordValue || levelPasswordWeak || levelPasswordMedium,
  'weak_small_or_wrong_password': smallPasswordLength || wrongDataEntered,
  'password_is_strong' : levelPasswordStrong
  }"></div>
</section>
