@import "/src/styles";

.section {
  width: 100%;
  display: flex;
  column-gap: 25px;
}

@mixin sizes_Of_Sections {
  width: 30%;
  height: 15px;
  border-radius: 5px;
}

.bad_password_result_or_no_value_entered {
  @include sizes_Of_Sections();
  background-color: $gray-section-password;
}

.weak_small_or_wrong_password {
  @include sizes_Of_Sections();
  background-color: $red-basic-color;
}

.password_is_medium {
  @include sizes_Of_Sections();
  background-color: $yellow-medium-password;
}

.password_is_strong {
  @include sizes_Of_Sections();
  background-color: $green-basic-color;
}
