* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

$first-base-color: rgba(101, 0, 94, 1);
$second-base-color: rgba(60, 132, 206, 1);
$third-base-color: rgba(48, 238, 226, 1);
$fourth-base-color: rgba(255,25,25,1);
$form-base-color: white;
$form-base-gray-color: rgba(0,0,0,.5);
$form-second-cray-base-color: rgba(0,0,0,.6);
$blue-base-color: #03e9f4;
$regex-result-message: rgba(114, 59, 87, 0.8);
$red-basic-color: red;
$green-basic-color: greenyellow;
$gray-section-password: gray;
$yellow-medium-password: yellow;
